#Name{
  margin:5px;
  text-transform:uppercase;
  padding:0;
  text-align:center;
}

.skillsbody{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height:100%;
  gap:80px;
}

.skilpic {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: flex-end;
  height:50%;
  width:50%;
}

.tab {

  height:100px;
  width:100px;
  border-radius: 10%;
  }

  .pow {

    height:100px;
    width:100px;
    border-radius: 10%;
    }

    .sql {

      height:100px;
      width:100px;
      border-radius: 10%;
      }

      .exc {

        height:100px;
        width:100px;
        border-radius: 10%;
        }

        .dat {
          height:100px;
          width:100px;
          border-radius: 10%;
          }
